@import "tailwindcss";
@plugin '@tailwindcss/forms'; 
@plugin '@tailwindcss/typography';
@plugin "daisyui";


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
  
body {
    font-family: 'Open Sans', sans-serif;
}

.sidebar-item {
    transition: all 0.2s ease;
}

.sidebar-item:hover {
    transform: translateX(5px);
}

.content-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-card:hover {
    transform: translateY(-5px);
}

.theme-btn {
    transition: all 0.3s ease;
}

.theme-btn:hover {
    transform: scale(1.05);
}
